config MACH_C28X_ePWM_PWM
	bool "PWM Subssystem"
	depends on PWM
config MACH_C28X_ePWM_DEBUG
	bool "Activate Debug"
menuconfig MACH_C28X_ePWM0
	bool "ePWM 0"
	if MACH_C28X_ePWM0
		config MACH_C28X_ePWM0_PWM
			bool "activate PWM 0A"
			if MACH_C28X_ePWM0_PWM
				comment "TODO Muxing
			endif
	endif
