config MACH_C28X_ePWM_PWM
	bool "PWM Subssystem"
	depends on PWM
config MACH_C28X_ePWM_DEBUG
	bool "Activate Debug"
menuconfig MACH_C28X_ePWM1
	bool "ePWM 1"
	if MACH_C28X_ePWM1 = y
		config MACH_C28X_ePWM1_upMode
			bool "counter upMode"
			default n

		config MACH_C28X_ePWM1_SYNCI
			bool "activate SYNCI"
			default n
		if MACH_C28X_ePWM1_SYNCI = y
			config MACH_C28X_ePWM1_PHASEDIR
				bool "phasedir COUNTUP"
				default n
			config MACH_C28X_ePWM1_PHASE_VALUE
				int "phase Value"
				default 1
		endif
		choice 	MACH_C28X_ePWM1_SYNCOUT	
			prompt "choice SYNCOUT"
			default MACH_C28X_ePWM1_SYNCMODE_EPWMxSYNC
				
			config MACH_C28X_ePWM1_SYNCMODE_CMP
				bool "syncmode CMP"
					
			config MACH_C28X_ePWM1_SYNCMODE_ZERO
				bool "syncmode ZERO"

			config MACH_C28X_ePWM1_SYNCMODE_DISABLE
				bool "syncmode DISABLE"
					
			config MACH_C28X_ePWM1_SYNCMODE_EPWMxSYNC
				bool "syncmode EPWMxSYNC"
		endchoice
		
		config MACH_C28X_ePWM1_ADC
			bool "activate ADC"
			default n
		if MACH_C28X_ePWM1_ADC = y
			config MACH_C28X_ePWM1_ADC_SOCA
				bool "Activate SOCA"
				default n
			if MACH_C28X_ePWM1_ADC_SOCA = y
				config MACH_C28X_ePWM1_ADC_EVENTA
				int "choice ADC_EVENTA"
				range 0 7
				default 0
				comment "DCBEVT1 0 ZERO 1 PRD 2 PRD_OR_ZERO 3 CMPA_INC 4 CMPA_DEC 5 CMPB_INC 6 CMPB_DEC 7"
			
			endif
				
			config MACH_C28X_ePWM1_ADC_SOCB
				bool "Activate SOCB"
				default n
			if MACH_C28X_ePWM1_ADC_SOCB = y
				config MACH_C28X_ePWM1_ADC_EVENTB
				int "choice ADC_EVENTB"
				range 0 7
				default 0
				comment "DCBEVT1 0 ZERO 1 PRD 2 PRD_OR_ZERO 3 CMPA_INC 4 CMPA_DEC 5 CMPB_INC 6 CMPB_DEC 7"
			endif
		endif

		config MACH_C28X_ePWM1_PWM
			bool "activate PWM1"
			config MACH_C28X_ePWM1_PWMA
			bool "activate PWM1A"
			default n
			if MACH_C28X_ePWM1_PWMA
				comment "EPWM1A GPIO 0"
				config MACH_C28X_ePWM1_PWMA_ACTION
				bool "set ACTION QUALIFIER"
				if MACH_C28X_ePWM1_PWMA_ACTION = y
					
					config MACH_C28X_ePWM1_PWMA_ACTION_CBU
					int "choice EPWM ACTION_CBU"
					range 0 3
					default 0
					comment"NOTHING 0 CLEAR 1 SET 2 TOGGLE 3"
					
					
					config MACH_C28X_ePWM1_PWMA_ACTION_CBD
					int "choice EPWM ACTION_CBD"
					range 0 3
					default 0
					comment"NOTHING 0 CLEAR 1 SET 2 TOGGLE 3"
					
				
					config MACH_C28X_ePWM1_PWMA_ACTION_CAU
					int "choice EPWM ACTION_CAU"
					range 0 3
					default 0
					comment"NOTHING 0 CLEAR 1 SET 2 TOGGLE 3"
					
				
					config MACH_C28X_ePWM1_PWMA_ACTION_CAD
					int "choice EPWM ACTION_CAD"
					range 0 3
					default 0
					comment"NOTHING 0 CLEAR 1 SET 2 TOGGLE 3"
				
					
					config MACH_C28X_ePWM1_PWMA_ACTION_PRD
					int "choice EPWM ACTION_PRD"
					range 0 3
					default 0
					comment"NOTHING 0 CLEAR 1 SET 2 TOGGLE 3"
					
					config MACH_C28X_ePWM1_PWMA_ACTION_ZRO
					int "choice EPWM ACTION_ZRO"
					range 0 3
					default 0
					comment"NOTHING 0 CLEAR 1 SET 2 TOGGLE 3"
				endif
					
			endif
	endif

menuconfig MACH_C28X_ePWM2
	bool "ePWM 2"
	if MACH_C28X_ePWM2 = y
	
		config MACH_C28X_ePWM2_upMode
			bool "counter upMode"
			default n
			
		config MACH_C28X_ePWM2_SYNCI
			bool "activate SYNCI"
			default n
		if MACH_C28X_ePWM2_SYNCI = y
			config MACH_C28X_ePWM2_PHASEDIR
				bool "phasedir COUNTUP"
				default n
			config MACH_C28X_ePWM2_PHASE_VALUE
				int "phase Value"
				default 1
		endif
		choice 	MACH_C28X_ePWM2_SYNCOUT	
			prompt "choice SYNCOUT"
			default MACH_C28X_ePWM2_SYNCMODE_EPWMxSYNC
				
			config MACH_C28X_ePWM2_SYNCMODE_CMP
				bool "syncmode CMP"
					
			config MACH_C28X_ePWM2_SYNCMODE_ZERO
				bool "syncmode ZERO"

			config MACH_C28X_ePWM2_SYNCMODE_DISABLE
				bool "syncmode DISABLE"
					
			config MACH_C28X_ePWM2_SYNCMODE_EPWMxSYNC
				bool "syncmode EPWMxSYNC"
		endchoice
		
		config MACH_C28X_ePWM2_ADC
			bool "activate ADC"
			default n
		if MACH_C28X_ePWM2_ADC = y
			config MACH_C28X_ePWM2_ADC_SOCA
				bool "Activate SOCA"
				default n
			if MACH_C28X_ePWM2_ADC_SOCA = y
				config MACH_C28X_ePWM2_ADC_EVENTA
				int "choice ADC_EVENTA"
				range 0 7
				default 0
				comment "DCBEVT1 0 ZERO 1 PRD 2 PRD_OR_ZERO 3 CMPA_INC 4 CMPA_DEC 5 CMPB_INC 6 CMPB_DEC 7"
			
			endif
				
			config MACH_C28X_ePWM2_ADC_SOCB
				bool "Activate SOCB"
				default n
			if MACH_C28X_ePWM2_ADC_SOCB = y
				config MACH_C28X_ePWM2_ADC_EVENTB
				int "choice ADC_EVENTB"
				range 0 7
				default 0
				comment "DCBEVT1 0 ZERO 1 PRD 2 PRD_OR_ZERO 3 CMPA_INC 4 CMPA_DEC 5 CMPB_INC 6 CMPB_DEC 7"
			endif
		endif
		config MACH_C28X_ePWM2_PWM
			bool "activate PWM2"
			config MACH_C28X_ePWM2_PWMA
			bool "activate PWM2A"
			default n
			if MACH_C28X_ePWM2_PWMA
				comment "EPWM2A GPIO 0"
				config MACH_C28X_ePWM2_PWMA_ACTION
				bool "set ACTION QUALIFIER"
				if MACH_C28X_ePWM2_PWMA_ACTION = y
					
					config MACH_C28X_ePWM2_PWMA_ACTION_CBU
					int "choice EPWM ACTION_CBU"
					range 0 3
					default 0
					comment"NOTHING 0 CLEAR 1 SET 2 TOGGLE 3"
					
					
					config MACH_C28X_ePWM2_PWMA_ACTION_CBD
					int "choice EPWM ACTION_CBD"
					range 0 3
					default 0
					comment"NOTHING 0 CLEAR 1 SET 2 TOGGLE 3"
					
				
					config MACH_C28X_ePWM2_PWMA_ACTION_CAU
					int "choice EPWM ACTION_CAU"
					range 0 3
					default 0
					comment"NOTHING 0 CLEAR 1 SET 2 TOGGLE 3"
					
				
					config MACH_C28X_ePWM2_PWMA_ACTION_CAD
					int "choice EPWM ACTION_CAD"
					range 0 3
					default 0
					comment"NOTHING 0 CLEAR 1 SET 2 TOGGLE 3"
				
					
					config MACH_C28X_ePWM2_PWMA_ACTION_PRD
					int "choice EPWM ACTION_PRD"
					range 0 3
					default 0
					comment"NOTHING 0 CLEAR 1 SET 2 TOGGLE 3"
					
					config MACH_C28X_ePWM2_PWMA_ACTION_ZRO
					int "choice EPWM ACTION_ZRO"
					range 0 3
					default 0
					comment"NOTHING 0 CLEAR 1 SET 2 TOGGLE 3"
				endif
					
			endif
	endif
