menu "Mach Settings"
choice 
	prompt "Select Mach"
	config MACH_VF610
		bool "VF610-M4"
		depends on ARCH_ARM
		depends on ARCH_ARM_CORTEX_M4
		help 
			vF610 M4 Mach
endchoice
if MACH_VF610=y
source mach/vf610/Kconfig
endif
endmenu
