menu "Mach Settings"
choice 
	prompt "Select Mach"
	config MACH_VF610
		bool "VF610-M4"
		depends on ARCH_ARM
		depends on ARCH_ARM_CORTEX_M4F || ARCH_ARM_CORTEX_M3
		help 
			vF610 M4 Mach
	config MACH_LINUX
		bool "Linux Emulator"
		depends on ARCH_X86
		depends on ARCH_X86_LINUX
		select INCLUDE_xTaskGetCurrentTaskHandle
	config MACH_STM32
		bool "ST STM32"
		depends on ARCH_ARM
		depends on ARCH_ARM_CORTEX_M0 || ARCH_ARM_CORTEX_M4F || ARCH_ARM_CORTEX_M3
		help
			ST STM32 Prozessor
	config MACH_IMX6
		bool "NXP Imx6sx"
		depends on ARCH_ARM
		depends on ARCH_ARM_CORTEX_M4F || ARCH_ARM_CORTEX_M3
		help
			imx6x M4 Mach
	config MACH_AM57xx
		bool "TI AM57xx"
		depends on ARCH_ARM
		depends on ARCH_ARM_CORTEX_M3
		help
			am57xx M4 Mach
	config MACH_S32K
		bool "NXP S32K"
		depends on ARCH_ARM
		depends on ARCH_ARM_CORTEX_M0 || ARCH_ARM_CORTEX_M3 ||  ARCH_ARM_CORTEX_M4F
		help
			NXP S32K Mach
	config MACH_C28X
		bool "C28x"
		depends on ARCH_C2000
		depends on ARCH_C2000_C28x
		help
			TI C2000 DSP
endchoice
if MACH_VF610=y
source mach/vf610/Kconfig
endif
if MACH_LINUX=y
source mach/linux/Kconfig
endif
if MACH_STM32=y
source mach/stm32/Kconfig
endif
if MACH_IMX6=y
source mach/imx6/Kconfig
endif
if MACH_AM57xx
source mach/am57xx/Kconfig
endif
if MACH_S32K=y
source mach/s32k/Kconfig
endif
if MACH_VF610=y || MACH_S32K=y
source mach/nxp/Kconfig
endif
if MACH_AM57xx=y
source mach/ti/Kconfig
endif
if MACH_C28X=y
source mach/c28x/Kconfig
endif
endmenu
