if AM57xx_PWMSS_TIMER=y
config AM57XX_PWMSS1_TIMER
  bool "PWMSS1-Timer"
  default n
config AM57XX_PWMSS2_TIMER
  bool "PWMSS2-Timer"
  default n
config AM57XX_PWMSS3_TIMER
  bool "PWMSS3-Timer"
  default n

endif
