
comment "Warning: Silent mode disables physical connection of CAN_TX to the CAN Bus"
    depends on TI_DCAN_SILENT_MODE
config TI_DCAN_SILENT_MODE
    bool "Activate Silent Mode"
    default n
    help
        Activate Silent mode
        All sent messages are also received
        No dominant Bits are sent on the real bus!
        The DCAN is still able to receive valid data from the real bus
        Silent mode and loopback mode can be activated together

choice
    prompt "loopback mode"
    optional

comment "Waring: Loopback Mode disables physical connection of CAN_RX to the CAN Bus!"
	depends on TI_DCAN_LOOP_BACK_MODE
config TI_DCAN_LOOP_BACK_MODE
	bool "Activate Loopback Mode (Debug Mode)"
	help
        Activate Loopback Debug Mode
        All sent messages are also received
        The CAN_RX is disconnected in this mode!
        The DCAN is still able to send dominant bits to the real bus
        Loopback mode and silent mode can be activated together

comment "Waring: Loopback Mode disables physical connection of CAN_RX to the CAN Bus!"
	depends on TI_DCAN_EXTERNAL_LOOP_BACK_MODE
config TI_DCAN_EXTERNAL_LOOP_BACK_MODE
	bool "Activate external Loopback Mode (Debug Mode)"
	help
        Activate external Loopback Debug Mode
        All sent messages are also received
        CAN_TX pin is connected to the Rx and Tx of the CAN Core
        The CAN_RX is disconnected in this mode!

endchoice


menuconfig MACH_AM57xx_DCAN_CAN1
    bool "CAN 1"
    default n
if MACH_AM57xx_DCAN_CAN1=y
    comment "Waring: More than 63 Filter are not posible"
        depends on MACH_AM57xx_DCAN_CAN1_MAX_FILTER >127
    config MACH_AM57xx_DCAN_CAN1_MAX_FILTER
        int "Max Input Filters"
        default 2
    config MACH_AM57xx_DCAN_CAN1_FILTER_QUEUE_ENTRIES
        int "Max Filter Software Queue Entries"
        default 2
        help
            The Hardware has only one entrie per filter
            so we need a software queue to store the messages
 
            How many CAN Frames can be stored in this software queue?
endif


menuconfig MACH_AM57xx_DCAN_CAN2
    bool "CAN 2"
    default n
if MACH_AM57xx_DCAN_CAN2=y
    comment "Waring: More than 63 Filter are not posible"
        depends on MACH_AM57xx_DCAN_CAN2_MAX_FILTER >127
    config MACH_AM57xx_DCAN_CAN2_MAX_FILTER
        int "Max Input Filters"
        default 2
    config MACH_AM57xx_DCAN_CAN2_FILTER_QUEUE_ENTRIES
        int "Max Filter Software Queue Entries"
        default 2
        help
            The Hardware has only one entrie per filter
            so we need a software queue to store the messages
 
            How many CAN Frames can be stored in this software queue?
endif
