comment "AM57xx Settings"
config MAX_SYSCALL_INTERRUPT_PRIORITY
	hex
	default 0x20
config KERNEL_INTERRUPT_PRIORITY
	hex
	default 0xf0

config MACH_INIT_STACK_SIZE
	int "Init Stack Size"
	default 600
	help
		Stack Size of Init Prozess. Stack size used by Interrupt and Init Prozess

config MACH_LD_SCRIPT
	string
	default "mach/am57xx/am57xx.lds"

config MACH_INCLUDE
	string
	default "-Imach/am57xx/include"
config MACH_DEFINE_HEAP
	bool
	default y
config MACH_USE_GENERIC_FAULT_HANDLER
	bool
	default y
config MACH_HAS_NEWLIB
	bool
	default y
config MACH_HAS_NVIC
	bool
	default y
config MACH_HAS_MAILBOX
	bool
	default y
config MACH_HAS_GPIO
	bool
	default y
config MACH_HAS_SPI
	bool
	default y
config MACH_HAS_TIMER
	bool
	default y
config MACH_HAS_PWM
	bool
	default y
config MACH_HAS_CAPTURE
	bool
	default y
config AM57xx_WAIT_FOR_DEBUGGER
	bool "Wait for Debugger"
	default n
config AM57xx_MUX_DEBUG
	bool "Mux Debug"
	default n
config AM57xx_GPIO
	bool "AM57xx GPIO Contoller"
	default n
	depends on GPIO
	config AM57xx_GPIO_DEBUG
		bool "Debug GPIO"
		default n
		depends on AM57xx_GPIO
menuconfig AM57xx_MAILBOX
	depends on MAILBOX
	bool "AM57xx Mailbox"
	default n
	source mach/am57xx/Kconfig.mailbox
menuconfig AM57xx_SPI
	depends on SPI
	bool "AM57xx SPI"
	default n
	source mach/am57xx/Kconfig.spi
menuconfig AM57xx_TIMER
	depends on TIMER
	bool "Am57xx General-Purpose Timers"
	default n
	source mach/am57xx/Kconfig.timer
menuconfig AM57xx_PWMSS_TIMER
	depends on TIMER
	bool "AM57xx PWMSS Timer"
	default n
	source mach/am57xx/Kconfig.pwmss
