comment "Waring: Loopback Mode disable physical connection to the CAN Bus!"
	depends on TI_CARCAN_LOOP_BACK_MODE
config TI_CARCAN_LOOP_BACK_MODE
	bool "Activate Loopback Mode (Debug Mode)"
	default n
	help
		Activate Loopback Debug Mode
		All sended messages are also recived
		The real bus is disconeded in this mode!

menuconfig MACH_AM57xx_CARCAN_CAN1
    bool "CAN 1"
    default n
if MACH_AM57xx_CARCAN_CAN1=y
    comment "Waring: More than 63 Filter are not posible"
        depends on MACH_AM57xx_CARCAN_CAN1_MAX_FILTER >63
    config MACH_AM57xx_CARCAN_CAN1_MAX_FILTER
        int "Max Input Filters"
        default 2
    config MACH_AM57xx_CARCAN_CAN1_FILTER_QUEUE_ENTRIES
        int "Max Filter Software Queue Entries"
        default 2
        help
            The Hardware has only one entrie per filter
            so we need a software queue to store the messages
 
            How manny CAN Frames can be stored in this software queue?
endif


menuconfig MACH_AM57xx_CARCAN_CAN2
    bool "CAN 2"
    default n
if MACH_AM57xx_CARCAN_CAN2=y
    comment "Waring: More than 63 Filter are not posible"
        depends on MACH_AM57xx_CARCAN_CAN2_MAX_FILTER >63
    config MACH_AM57xx_CARCAN_CAN2_MAX_FILTER
        int "Max Input Filters"
        default 2
    config MACH_AM57xx_CARCAN_CAN2_FILTER_QUEUE_ENTRIES
        int "Max Filter Software Queue Entries"
        default 2
        help
            The Hardware has only one entrie per filter
            so we need a software queue to store the messages
 
            How manny CAN Frames can be stored in this software queue?
endif
