comment "VF610 Settings"
config MAX_SYSCALL_INTERRUPT_PRIORITY
	hex
	default 0x20
config KERNEL_INTERRUPT_PRIORITY 
	hex
	default 0xf0
comment "WARNING: Load Address is 0x3F000000"
	depends on VF610_LOCATION_SRAM
comment "WARNING: ELF Loader is needed!"
	depends on VF610_LOCATION_BOTH
choice
	prompt "Memmory Location"
	config VF610_LOCATION_SRAM
		bool "SRAM"
		help
			FreeRTOS + Application in SRAM(max 256K)
	config VF610_LOCATION_TCM
		bool "TCM"
		help
			FreeRTOS + Application in TCM(max 32K)
	config VF610_LOCATION_BOTH
		bool "TCM + SRAM"
		help
			FreeRTOS Located in fast TCM and Apllication located at SRAM(max 256K + 32K)

			WARNING Start out of A5 without Elf Loader imposible!
endchoice

config MACH_INIT_STACK_SIZE
	int "Init Stack Size"
	default 600
	help
		Stack Size of Init Prozess. Stack size used by Interrupt and Init Prozess

config MACH_LD_SCRIPT
	string 
	default "mach/vf610/vf610.lds"

config MACH_INCLUDE
	string
	default "-Imach/vf610/include"
if UART=y
config VF610_UART
	bool "VF610 UART"
	default y
	select UART_GENERIC_STRING
	select UART_GENERIC_BYTE
menuconfig VF610_LPUART
	bool "LPUart Driver"
	depends on VF610_UART
	default y
config VF610_LPUART00
	bool "LPUART Device 0"
	depends on VF610_LPUART
	default y
config VF610_LPUART01
	bool "LPUART Device 1"
	depends on VF610_LPUART
	default y
config VF610_LPUART02
	bool "LPUART Device 2"
	depends on VF610_LPUART
	default y
config VF610_LPUART03
	bool "LPUART Device 3"
	depends on VF610_LPUART
	default y
config VF610_LPUART04
	bool "LPUART Device 4"
	depends on VF610_LPUART
	default y
config VF610_LPUART05
	bool "LPUART Device 5"
	depends on VF610_LPUART
	default y
config BUFFER_UART
	bool "Buffer Driver"
	default n
	depends on VF610_UART
	depends on BUFFER
endif
config MACH_DEFINE_HEAP
	bool
	default y
config MACH_HAS_UART
	bool
	default y
config MACH_HAS_GPIO
	bool
	default y
config MACH_HAS_NEWLIB
	bool
	default y
config MACH_HAS_BUFFER
	bool
	default y
config MACH_HAS_SPI
	bool
	default y
config MACH_HAS_ADC
	bool
	default y
config MACH_HAS_TIMER
	bool
	default y
config MACH_HAS_PWM
	bool
	default y
config MACH_HAS_CAPTURE
	bool
	default y
# VF610 has NVIC but Interrupt Router must set befor NVIC
#config MACH_HAS_NVIC
#	bool
#	default y
config VF610_CACHE
	bool "Activate VF610 M4 Cache"
	default n
	select CACHE
menuconfig FLEXTIMER
	depends on TIMER
	bool "Activate Flextimer"
	default n
config FLEXTIMER_0
	depends on FLEXTIMER
	bool "Activate Flextimer 0"
	default n
config FLEXTIMER_1
	depends on FLEXTIMER
	bool "Activate Flextimer 1"
	default n
config FLEXTIMER_2
	depends on FLEXTIMER
	bool "Activate Flextimer 2"
	default n
config FLEXTIMER_3
	depends on FLEXTIMER
	bool "Activate Flextimer 3"
	default n
menuconfig FLEXTIMER_PWM
	depends on FLEXTIMER && PWM
	bool "Activate Flextimer PWM "
	default n
config FLEXTIMER_PWM_0_0
	depends on FLEXTIMER_PWM && FLEXTIMER_0
	bool "PWM on PTB0"
	default n
config FLEXTIMER_PWM_0_1
	depends on FLEXTIMER_PWM && FLEXTIMER_0
	bool "PWM on PTB1"
	default n
config FLEXTIMER_PWM_0_2
	depends on FLEXTIMER_PWM && FLEXTIMER_0
	bool "PWM on PTB2"
	default n
config FLEXTIMER_PWM_0_3
	depends on FLEXTIMER_PWM && FLEXTIMER_0
	bool "PWM on PTB3"
	default n
config FLEXTIMER_PWM_0_4
	depends on FLEXTIMER_PWM && FLEXTIMER_0
	bool "PWM on PTB4"
	default n
config FLEXTIMER_PWM_0_5
	depends on FLEXTIMER_PWM && FLEXTIMER_0
	bool "PWM on PTB5"
	default n
config FLEXTIMER_PWM_0_6
	depends on FLEXTIMER_PWM && FLEXTIMER_0
	bool "PWM on PTB6"
	default n
config FLEXTIMER_PWM_0_7
	depends on FLEXTIMER_PWM && FLEXTIMER_0
	bool "PWM on PTB7"
	default n
config FLEXTIMER_PWM_1_0
	depends on FLEXTIMER_PWM && FLEXTIMER_1
	bool "PWM on PTB8"
	default n
config FLEXTIMER_PWM_1_1
	depends on FLEXTIMER_PWM && FLEXTIMER_1
	bool "PWM on PTB9"
	default n
config FLEXTIMER_PWM_2_0
	depends on FLEXTIMER_PWM && FLEXTIMER_2
	bool "PWM on PTD23"
	default n
config FLEXTIMER_PWM_2_1
	depends on FLEXTIMER_PWM && FLEXTIMER_2
	bool "PWM on PTD22"
	default n
config FLEXTIMER_PWM_3_0
	depends on FLEXTIMER_PWM && FLEXTIMER_3
	bool "PWM on PTD22"
	default n
config FLEXTIMER_PWM_3_1
	depends on FLEXTIMER_PWM && FLEXTIMER_3
	bool "PWM on PTD31"
	default n
config FLEXTIMER_PWM_3_2
	depends on FLEXTIMER_PWM && FLEXTIMER_3
	bool "PWM on PTD30"
	default n
config FLEXTIMER_PWM_3_3
	depends on FLEXTIMER_PWM && FLEXTIMER_3
	bool "PWM on PTD29"
	default n
config FLEXTIMER_PWM_3_4
	depends on FLEXTIMER_PWM && FLEXTIMER_3
	bool "PWM on PTD28"
	default n
config FLEXTIMER_PWM_3_5
	depends on FLEXTIMER_PWM && FLEXTIMER_3
	bool "PWM on PTD26"
	default n
config FLEXTIMER_PWM_3_6
	depends on FLEXTIMER_PWM && FLEXTIMER_3
	bool "PWM on PTD25"
	default n
config FLEXTIMER_PWM_3_7
	depends on FLEXTIMER_PWM && FLEXTIMER_3
	bool "PWM on PTD24"
	default n
menuconfig FLEXTIMER_CAPTURE
	depends on FLEXTIMER && CAPTURE
	bool "Activate Flextimer CAPTURE "
	default n
config FLEXTIMER_CAPTURE_0_0
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_0
	bool "CAPTURE on PTB0"
	default n
config FLEXTIMER_CAPTURE_0_1
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_0
	bool "CAPTURE on PTB1"
	default n
config FLEXTIMER_CAPTURE_0_2
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_0
	bool "CAPTURE on PTB2"
	default n
config FLEXTIMER_CAPTURE_0_3
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_0
	bool "CAPTURE on PTB3"
	default n
config FLEXTIMER_CAPTURE_0_4
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_0
	bool "CAPTURE on PTB4"
	default n
config FLEXTIMER_CAPTURE_0_5
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_0
	bool "CAPTURE on PTB5"
	default n
config FLEXTIMER_CAPTURE_0_6
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_0
	bool "CAPTURE on PTB6"
	default n
config FLEXTIMER_CAPTURE_0_7
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_0
	bool "CAPTURE on PTB7"
	default n
config FLEXTIMER_CAPTURE_1_0
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_1
	bool "CAPTURE on PTB8"
	default n
config FLEXTIMER_CAPTURE_1_1
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_1
	bool "CAPTURE on PTB9"
	default n
config FLEXTIMER_CAPTURE_2_0
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_2
	bool "CAPTURE on PTD23"
	default n
config FLEXTIMER_CAPTURE_2_1
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_2
	bool "CAPTURE on PTD22"
	default n
config FLEXTIMER_CAPTURE_3_0
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_3
	bool "CAPTURE on PTD22"
	default n
config FLEXTIMER_CAPTURE_3_1
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_3
	bool "CAPTURE on PTD31"
	default n
config FLEXTIMER_CAPTURE_3_2
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_3
	bool "CAPTURE on PTD30"
	default n
config FLEXTIMER_CAPTURE_3_3
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_3
	bool "CAPTURE on PTD29"
	default n
config FLEXTIMER_CAPTURE_3_4
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_3
	bool "CAPTURE on PTD28"
	default n
config FLEXTIMER_CAPTURE_3_5
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_3
	bool "CAPTURE on PTD26"
	default n
config FLEXTIMER_CAPTURE_3_6
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_3
	bool "CAPTURE on PTD25"
	default n
config FLEXTIMER_CAPTURE_3_7
	depends on FLEXTIMER_CAPTURE && FLEXTIMER_3
	bool "CAPTURE on PTD24"
	default n

config DSPI
	depends on SPI
	bool "Activate DSPI"
config SPIDEBUG
	bool "SPI Debug Mode"
	depends on DSPI
	default n
config DSPI_0
	bool "Activate DSPI 0"
	depends on DSPI
	default n
menuconfig DSPI_1
	bool "Activate DSPI 1"
	depends on DSPI
	default n
config DSPI_1_PTD8
	bool "SCLK on PTD8"
	depends on DSPI_1
	default y
config DSPI_1_PTC8
	bool "SCLK on PTC8"
	depends on DSPI_1
	default n
config DSPI_1_PTD7
	bool "MOSI on PTD7"
	depends on DSPI_1
	default y
config DSPI_1_PTC7
	bool "MOSI on PTC7"
	depends on DSPI_1
	default n
config DSPI_1_PTD6
	bool "MISO on PTD6"
	depends on DSPI_1
	default y
config DSPI_1_PTC6
	bool "MISO on PTC6"
	depends on DSPI_1
	default n
config DSPI_1_PTD5
	bool "CS0 on PTD5"
	depends on DSPI_1
	default y
config DSPI_1_PTC5
	bool "CS0 on PTC5"
	depends on DSPI_1
	default n
config DSPI_1_PTD4
	bool "CS1 on PTD4"
	depends on DSPI_1
	default y
config DSPI_1_PTC4
	bool "CS1 on PTC4"
	depends on DSPI_1
	default n
config DSPI_1_PTD3
	bool "CS2 on PTD3"
	depends on DSPI_1
	default y
config DSPI_1_PTC30
	bool "CS2 on PTC30"
	depends on DSPI_1
	default n
config DSPI_1_PTD2
	bool "CS3 on PTD2"
	depends on DSPI_1
	default y
config DSPI_1_PTE12
	bool "CS3 on PTE12"
	depends on DSPI_1
	default n
config DSPI_2
	bool "Activate DSPI 2"
	depends on DSPI
	default n
config DSPI_3
	bool "Activate DSPI 3"
	depends on DSPI
	default n
