comment "NXP S32k Settings"
choice 
	prompt "Select Prozessor Type"
	config S32K116
		bool "NXP S32K144"
		depends on ARCH_ARM_CORTEX_M0
	config S32K118
		bool "NXP S32K144"
		depends on ARCH_ARM_CORTEX_M0
	config S32K142
		bool "NXP S32K142"
		depends on ARCH_ARM_CORTEX_M3 || ARCH_ARM_CORTEX_M4F
	config S32K144
		bool "NXP S32K144"
		depends on ARCH_ARM_CORTEX_M3 || ARCH_ARM_CORTEX_M4F
	config S32K146
		bool "NXP S32K146"
		depends on ARCH_ARM_CORTEX_M3 || ARCH_ARM_CORTEX_M4F
	config S32K148
		bool "NXP S32K148"
		depends on ARCH_ARM_CORTEX_M3 || ARCH_ARM_CORTEX_M4F
endchoice
config MAX_SYSCALL_INTERRUPT_PRIORITY
	hex
	default 0x20
config KERNEL_INTERRUPT_PRIORITY 
	hex
	default 0xf0
config MACH_INIT_STACK_SIZE
	int "Init Stack Size"
	default 600
	help
		Stack Size of Init Prozess. Stack size used by Interrupt and Init Prozess
config MACH_LD_SCRIPT
	string 
	default "mach/s32k/s32k.lds"
config MACH_INCLUDE
	string
	default "-Imach/s32k/include -Imach/nxp/include"
config MACH_DEFINE_HEAP
	bool
	default y
config MACH_USE_GENERIC_FAULT_HANDLER
	bool
	default y
config MACH_HAS_NEWLIB
	bool
	default y
config MACH_HAS_NVIC
	bool
	default y
config MACH_HAS_GPIO
	bool
	default y
config MACH_HAS_TIMER
	bool
	default y
config MACH_HAS_PWM
	bool
	default y
config MACH_HAS_CAPTURE
	bool
	default y
config USE_NXP_LIB
	bool
	default y
config MACH_S32K_DISABLE_WDOG
	bool "Disable Watchdog at startup"
	default y
config MACH_S32K_ENABLE_INST_CACHE
	bool "Enable Instruction Cache"
	default y
	select CACHE
# GPIO Subsytem is use by muxing system
config S32K_GPIO
	bool
	default y
	select GPIO
	select NXP_GPIO
	select NXP_GPIO_MUX
	config GPIO_PORT_COUNT
		int
		depends on NXP_GPIO
		default 5
menuconfig S32k_FLEXTIMER
	depends on TIMER
	select FLEXTIMER
	bool "Activate Flextimer"
	default n
	if FLEXTIMER
	source mach/s32k/Kconfig.timer
	endif
