config NXP_FLEXTIMER
	bool
	default n
	config NXP_FLEXTIMER_ERRATA_E6484
		bool 
		default n
	config NXP_FLEXTIMER_VERSION_1
		bool
		default n
		help
			Version used by Vybird VF610
	config NXP_FLEXTIMER_VERSION_2
		bool
		default n
		help
			Version used by S32K
	config NXP_FLEXTIMER_PWM
		bool
		default n
	config NXP_FLEXTIMER_CAPTURE
		bool
		default n
config NXP_GPIO
	bool
	default n
config NXP_GPIO_MUX
	bool
	default n
config NXP_FLEXCAN
	bool
	default n
