comment "VF610 Settings"
config MACH_DEFINE_HEAP
	bool
	default y
config MACH_LIBS
	string
	default "-lrt"
config EXTRA_MACH_LINKFLAGS
	string
	default "-pthread"
config MACH_HAS_UART
	bool
	default y
config MACH_HAS_GPIO
	bool
	default y
config MACH_INCLUDE
	string
	default "-Imach/linux/include"
config MACH_LD_SCRIPT
	string 
	default "mach/linux/linux.lds"
config MACH_HAS_MALLOC
	bool
	default y
config MACH_HAS_NO_LOCATION
	bool
	default y
config MACH_HAS_CAN
	bool
	default y
config LINUX_CAN
	bool "Linux CAN"
	depends on CAN
	default n
	if OS_DEFINE_QUEUE=y
		config LINUX_CAN_QUEUE_LENGTH
			int "Queue length"
			default 3
		config LINUX_CAN_QUEUE_COUNT
			int "Queue count"
			default 2
		config LINUX_CAN_TASK_PRIO
			int "CAN Task Prio"
	endif
